* {
  scrollbar-gutter: 20px;
  scrollbar-color: #9ca3af transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
  border-top: 20px solid transparent;
}

.blend-to-bottom {
  -webkit-mask: linear-gradient(white 50%, transparent);
  mask: linear-gradient(white 50%, transparent);
}

.blend-to-top {
  -webkit-mask: linear-gradient(transparent, white 50%);
  mask: linear-gradient(transparent, white 50%);
}

.blend {
  -webkit-mask: linear-gradient(transparent, white 20%, transparent);
  mask: linear-gradient(transparent, white 20%, transparent);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-primary-500 text-white;
  }

  * {
    @apply m-0 p-0 dark:border-base-600 border-base-700/20;
  }

  #__next {
    @apply !overflow-x-hidden md:overflow-x-auto;
  }

  body {
    @apply !font-["Inter"] dark:bg-[#0A0118] bg-white dark:text-base-300 text-base-700;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  .gradient {
    @apply bg-gradient-to-tr from-secondary-500  to-primary-500;
  }

  .section-hero {
    @apply !py-12 sm:!py-24 md:!py-32 lg:!py-40 !justify-start !items-center sm:h-[85vh] flex flex-col !gap-10;
  }

  .hero-heading {
    @apply dark:text-white text-base-900 text-center text-4xl sm:text-5xl lg:text-6xl font-black sm:max-w-[80%];
  }

  .hero-subheading {
    @apply dark:text-white text-base-700 text-center text-lg sm:text-xl font-medium sm:max-w-[50%] mb-4 -mt-4;
  }

  .section-heading {
    @apply text-center text-4xl lg:text-5xl font-extrabold dark:text-white text-base-900;
  }

  .section-subheading {
    @apply text-center text-xl leading-6 dark:text-base-400 text-base-700;
  }

  .text-gradient {
    @apply gradient !bg-clip-text !text-transparent;
  }

  .bg-gradient-radial {
    background-image: radial-gradient(closest-side, var(--tw-gradient-stops));
  }

  .header-logo path {
    @apply dark:!fill-white !fill-base-900;
  }
}

:root {
  --docsearch-primary-color: rgb(var(--prismane-colors-primary-500)) !important;
  --docsearch-searchbox-shadow: inset 0 0 0 2px
    rgba(var(--prismane-colors-primary-500) / 0.6) !important;
  --docsearch-container-background: rgba(
    var(--prismane-colors-base-900) / 0.5
  ) !important;
  --docsearch-footer-shadow: none !important;
}

:root:is(.dark) {
  --docsearch-modal-background: rgb(var(--prismane-colors-base-800)) !important;
  --docsearch-footer-background: rgb(
    var(--prismane-colors-base-700)
  ) !important;
  --docsearch-modal-shadow: inset 1px 1px 0 0
      rgb(var(--prismane-colors-base-800)),
    0 3px 8px 0 rgb(var(--prismane-colors-base-800));
  --docsearch-hit-shadow: 0 1px 3px 0
    rgba(var(--prismane-colors-primary-500) / 0.2);
  --docsearch-searchbox-focus-background: rgba(var(--prismane-colors-base-700));
  --docsearch-text-color: #fff !important;
  --docsearch-hit-background: rgba(var(--prismane-colors-base-700));
  --docsearch-hit-color: rgba(var(--prismane-colors-base-100));
  --docsearch-key-gradient: linear-gradient(
    -225deg,
    rgba(var(--prismane-colors-base-700)),
    rgba(var(--prismane-colors-base-800))
  );
  --docsearch-key-shadow: inset 0 -2px 0 0 rgba(var(--prismane-colors-base-700)),
    inset 0 0 1px 1px rgba(var(--prismane-colors-base-800)),
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
}

.DocSearch-Button {
  border-radius: 0.375rem !important;
  background-color: rgba(236, 72, 153, 0.2) !important;
  color: rgba(var(--prismane-colors-base-700)) !important;
}

.DocSearch-Button:hover {
  color: rgba(var(--prismane-colors-base-900)) !important;
}

.DocSearch-Screen-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DocSearch-Search-Icon {
  color: rgb(190, 24, 93) !important;
}

.dark .DocSearch-Button {
  background-color: rgba(190, 24, 93, 0.2) !important;
  color: rgba(var(--prismane-colors-base-300)) !important;
}

.dark .DocSearch-Button:hover {
  color: rgba(var(--prismane-colors-base-100)) !important;
}

.dark .DocSearch-Search-Icon {
  color: rgb(251, 207, 232) !important;
}
